.friend {
    height: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: #038C3E;
    box-shadow: 0 0 5px #000000;
    border-radius: 3px;
    padding: 0 10px;
    margin: 10px;
    text-decoration: none;
}

.friend h4 {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.user-avatar-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.user-avatar-name .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 2px solid #0CF25D;
    border-radius: 50%;
}

.friend-buttons {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 45%;
    height: 75%;
    text-align: center;
}

.friend-play-button ,
.friend-message-button {
    width: 45%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend-buttons img {
    width: 30px;
    height: 30px;
}

.friend-play-button {
    background-color: #0CF25D;
    color: #034159;
    box-shadow: 0 0 5px #3e4440;
}

.friend-message-button {
    background-color: #034159;
    color:#FFFFFF;
    box-shadow: 0 0 5px #3e4440;
}

.friend-play-button:hover {
    background-color: #13e05b;
    box-shadow: 0 0 1px #13e05b;
}

.friend-message-button:hover {
    background-color: #025951;
}

@media (max-width: 520px) {

    .friend {
        font-size: .9rem;
    }
    .friend h4 {
        font-size: .9rem;
    }

}

