.navbar- {
    font-family: var(--mono);
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #034159;
    margin: 0;
    padding: 0px 5%;
    grid-area: 1 / 1 / 2 / 2;
}

.navbar- img {
    width: 30px;
    height: 30px;
}

.navbar- h1 {
    display: flex;
    gap: 3px;
}

.navbar- ul {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    margin: 0; 
    padding: 0;
    /* gap: 1rem; */
}

.logo-search,
.profile-exit{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

::placeholder {
    color: white;
}


.small-size-search,
.big-size-search {
    background-color: #115a77;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    width: 200px;
    /* border: 1px solid #ccc; */
}

.profile-button-navbar {
    border-radius: 50%;
    /* border: 3px solid #025951; */
    box-sizing: content-box;
}

.middle-navbar {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.middle-navbar-min {
    display: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.small-size-search {
    display: none;
}

.big-size-search {
    display: flex;
}

@media (max-width: 1050px)
{
    .middle-navbar {
        display: none;
    }
    
    .middle-navbar-min {
        display: flex;
    }

    .navbar- {
        height: 110px;
        justify-content: space-evenly;
    }

    .small-size-search {
        display: flex;
    }

    .big-size-search {
        display: none;
        
    }
}