.user-info-container {
    text-align: center;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}
