.friend-request {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: #038C3E;
    box-shadow: 0 0 20px #383737;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.friend-request h4 {
    color: #034159;
}

.friend-request-buttons {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 45%;
}

.friend-request-confirm-button {
    background-color: #0CF25D;
    color: #034159;
    padding: 10px 20px;
    border: 1px solid #0CF25D;
    border-radius: 4px;
    box-shadow: 0 0 5px #0CF25D;
    cursor: pointer;
}

.friend-request-delete-button {
    background-color: #034159;
    color:#FFFFFF;
    padding: 10px 20px;
    border: 1px solid #034159;
    border-radius: 4px;
    box-shadow: 0 0 5px #034159;
    cursor: pointer;
}

.friend-request-confirm-button:hover {
    background-color: #038C3E;
}

.friend-request-delete-button:hover {
    background-color: #025951;
    border: 1px solid #025951;
}

