.user-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-profile-container svg {
    width: 20px;
    height: 20px;
}

.level-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
