.achievement {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 0 10px;
    margin: 10px;
    box-shadow: 0 0 5px #000000;
}

.achievement:hover {
    box-shadow: 0 0 20px #000000;
}

.achievement-title {
    font-size: 1.2rem;
    color: #0abc48;
}

.achievement-description {
    font-size: 1.1rem;
    color: #FFF;
    padding-left: 20px;
}

@media (max-width: 520px) {
    .achievement {
        font-size: .9rem;
    }

}

