.blocked {
    height: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: #038C3E;
    box-shadow: 0 0 5px #000000;
    border-radius: 3px;
    padding: 0 10px;
    margin: 10px;
    color: #FFFFFF;
    font-size: 1.2rem;
}


.blocked-buttons {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: right;
    width: 55%;
    height: 75%;
    text-align: center;
}

.blocked-unblock-button {
    width: 45%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocked-buttons img {
    width: 30px;
    height: 30px;
}

.blocked-unblock-button {
    background-color: #034159;
    color:#FFFFFF;
    box-shadow: 0 0 5px #3e4440;
}

.blocked-unblock-button:hover {
    background-color: #025951;
}

@media (max-width: 520px) {

    .blocked {
        font-size: .9rem;
    }

}

