.user-profile-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}


.user-profile-button {
    cursor: pointer;
    padding: 0;
}


.user-profile-buttons-container img {
    height: 35px;
    width: auto;
}

.user-profile-button .hovered {
    display: none;
}

.user-profile-button:hover img {
    display: none;
}

.user-profile-button:hover .hovered {
    display: inline;
}
