
body { 
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color:  #042432;
  width: 100vw;
  height: 100vh;
  font-family: 'Hedvig Letters Serif', serif;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}


